
body {
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    
}

.wish-label {
    text-align: right;
    position: absolute;
    top: 33px;
    right: 37px;
    /* left: 14px; */
    color: #000;
    border: 1px solid;
    padding: 10px;
}
